{% extends 'menu.html' %} {% block title %}Egresos - Banca Web{% endblock %} {%
block content %}
<style>
  .saldo-actual {
    background-color: #592e83; /* Fondo azul */
    color: #fff; /* Texto blanco */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Esquinas redondeadas */
    font-size: 18px; /* Tamaño de fuente más grande */
  }
  .btn-primary {
    background-color: #592e83;
    border-color: #592e83;
  }

  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
</style>

<body class="bg-light">
  <div class="container mt-5">
    <div class="col-lg-6 col-md-8 col-12 mx-auto">
      <div class="card shadow">
        <div class="card-header text-center">
          <h1><i class="fas fa-coins"></i> Egreso de Saldo</h1>
        </div>
        <div class="card-body">
          <form action="/egreso" method="post">
            <div class="form-group">
              <label for="monto">Saldo a egresar:</label>
              <br /><br />
              <div class="input-group">
                <input
                  type="number"
                  id="monto"
                  name="monto"
                  class="form-control"
                />
                <span class="input-group-text">$</span>
              </div>
            </div>
            <center>
              <button class="btn btn-primary btn-block mt-4" type="submit">
                <i class="fas fa-check"></i> Realizar Egreso
              </button>
            </center>
          </form>
          <br />
          <p class="text-center saldo-actual">
            <i class="fas fa-wallet"></i> Saldo actual: ${{ monto }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <script>
    function dashboard() {
      location.href = "http://127.0.0.1:5000/movimientos";
    }

    function ingreso(ingreso) {
      location.href = "http://127.0.0.1:5000/ingreso";
    }

    function egreso(ingreso) {
      location.href = "http://127.0.0.1:5000/egreso";
    }

    function actualizar(params) {
      location.href = "http://127.0.0.1:5000/actualizar";
    }

    function cerrarSesion() {
      location.href = "http://127.0.0.1:5000";
    }
  </script>
  <!-- build:js assets/vendor/js/core.js -->
  <!-- build:js assets/vendor/js/core.js -->
  <script src="{{ url_for('static', filename='vendor/libs/jquery/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/libs/popper/popper.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>

  <script src="{{ url_for('static', filename='vendor/js/menu.js') }}"></script>
  <!-- endbuild -->

  <!-- Vendors JS -->

  <!-- Main JS -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

  <!-- Page JS -->
  <script src="{{ url_for('static', filename='js/ui-toasts.js') }}"></script>
  {% endblock %}
</body>
