{% extends 'menu.html' %} {% block title %}Ingreso - Banca Web{% endblock %} {%
block content %}
<style>
  /* Estilo base del mensaje de éxito */
  .mensaje-ingreso {
    display: none;
    background-color: #4caf50; /* Fondo verde */
    color: #fff; /* Texto blanco */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Esquinas redondeadas */
    font-size: 18px; /* Tamaño de fuente más grande */
    text-align: center; /* Centrar el texto */
    margin-top: 20px; /* Espaciado superior */
    animation: fadeIn 1s; /* Animación de entrada */
  }

  /* Definir la animación de entrada */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Estilo para mostrar el mensaje */
  .mensaje-ingreso.mostrado {
    display: block;
  }

  .saldo-actual {
    background-color: #592e83; /* Fondo azul */
    color: #fff; /* Texto blanco */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Esquinas redondeadas */
    font-size: 18px; /* Tamaño de fuente más grande */
  }
  .btn-primary {
    background-color: #592e83;
    border-color: #592e83;
  }

  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
</style>
<body class="bg-gray-200">
  <div class="container mt-5">
    <div class="col-lg-6 col-md-8 col-12 mx-auto">
      <div class="card shadow">
        <div class="card-header text-center">
          <h1><i class="fas fa-coins"></i> Ingresar Saldo</h1>
        </div>
        <div class="card-body">
          <form
            action="/ingreso"
            method="post"
            onsubmit="mostrarMensajeIngreso()"
          >
            <div class="mb-3">
              <label for="monto" class="form-label">Saldo a ingresar:</label>
              <div class="input-group">
                <input
                  type="number"
                  id="monto"
                  name="monto"
                  class="form-control"
                />
                <span class="input-group-text">$</span>
              </div>
            </div>
            <center>
              <button class="btn btn-primary btn-block mb-3" type="submit">
                <i class="fas fa-check"></i> Realizar Ingreso
              </button>
            </center>
          </form>
          <p class="text-center saldo-actual">
            <i class="fas fa-wallet"></i> Saldo actual: ${{ monto }}
          </p>
          <div class="mensaje-ingreso" id="mensajeIngreso">
            <i class="fas fa-check-circle"> Ingreso realizado con Exito</i>
          </div>
          {% if error_message %}
          <div class="alert alert-danger" role="alert">{{ error_message }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</body>

<script>
  function mostrarMensajeIngreso() {
    var mensajeIngreso = document.getElementById("mensajeIngreso");
    mensajeIngreso.classList.add("mostrado"); // Agregar la clase "mostrado" al mensaje

    setTimeout(function () {
      mensajeIngreso.classList.remove("mostrado"); // Quitar la clase después de 3 segundos
    }, 50000);
  }
  function dashboard() {
    location.href = "http://127.0.0.1:5000/movimientos";
  }

  function ingreso(ingreso) {
    location.href = "http://127.0.0.1:5000/ingreso";
  }
  function egreso(ingreso) {
    location.href = "http://127.0.0.1:5000/egreso";
  }
  function actualizar(params) {
    location.href = "http://127.0.0.1:5000/actualizar";
  }
  function cerrarSesion() {
    location.href = "http://127.0.0.1:5000";
  }
</script>
{% endblock %}
