{% extends 'menu.html' %} {% block title %}Movimientos - Banca Web{% endblock %}
{% block content %}
<style>
  .container {
    background-image: url("/frontend/images/fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
  .btn-primary {
    padding: auto;
    margin-top: 25px;
    background-color: #592e83;
    border-color: #592e83;
  }
  .fa-history {
    color: #2c2b2b;
  }
</style>
<div class="container mt-5">
  <form method="get" action="/movimientos">
    <div class="row justify-content-center">
      <div class="col-lg-4 mb-3">
        <b><label for="fecha_inicio" class="form-label">Fecha de Inicio:</label></b>
        <input
          type="date"
          id="fecha_inicio"
          name="fecha_inicio"
          class="form-control"
        />
      </div>
      <div class="col-lg-4 mb-3">
        <b><label for="fecha_fin" class="form-label">Fecha de Fin:</label></b>
        <input
          type="date"
          id="fecha_fin"
          name="fecha_fin"
          class="form-control"
        />
      </div>
      <div class="col-lg-4 mb-3">
        <label class="invisible">Filtrar</label>
        <!-- Agrega una etiqueta invisible para mejorar la alineación -->
        <button type="submit" class="btn btn-primary btn-block">Filtrar</button>
      </div>
    </div>
  </form>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="card my-4">
        <div class="card-header">
          <h2 class="text-primary text-center">
            <i class="fas fa-history"> Historial de Transacciones</i>
          </h2>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Registro</th>
                <th class="text-center">Tipo de Transacción</th>
                <th class="text-center">Valor</th>
                <th class="text-center">Saldo Total</th>
              </tr>
            </thead>
            <tbody>
              {% set saldo = monto %} {% for item in data %}
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <i class="fas fa-calendar-alt mr-2"></i>
                    <span class="text-sm">{{ item['Registro'] }}</span>
                  </div>
                </td>
                <td class="align-middle text-center">
                  {% if item['Tipo de Transacción'] == "Ingreso" %}
                  <span class="text-success">
                    <i class="fas fa-arrow-up"></i> Ingreso
                  </span>
                  {% elif item['Tipo de Transacción'] == "Egreso" %}
                  <span class="text-danger">
                    <i class="fas fa-arrow-down"> </i>Egreso
                  </span>
                  {% endif %}
                </td>
                <td class="align-middle text-center">
                  <span class="text-xs font-weight-bold"
                    >{{ item['Valor'] }}</span
                  >
                </td>
                <td class="align-middle text-center">
                  <span class="text-xs font-weight-bold"
                    >{{ item['Saldo Total'] }}</span
                  >
                </td>
              </tr>
              {% endfor %} {% if not data %}
              <tr>
                <td colspan="4" class="text-center">
                  No se encontraron transacciones.
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
